* {
    margin:0;
}

.container {
    text-align: center;
    font-family: 'Comfortaa';
}

nav {
    text-align: right;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

nav .burger {
    display: none;
    font-size: 3rem;
    padding: 0;
    color: #315240;
}
   
nav .burger::after {
        content: "\2630";
    }   
    
.logo {
    position: absolute;
    top:0;
    left:0;     
  
}


a {  
    
display:inline;
margin-left: 1rem;
margin-right: 1rem;
font-size: 1.5rem;
color: #315240;
text-decoration: none;
padding:1.5rem;
}

nav a:hover {
    color: #EEEAD4;
    background-color: #315240;
   
}

header {
    background-image: url(img/fog-3622519_1920.jpg);
    background-size: cover;     
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; 
}

h1 { 
   font-size: 4rem;
   color: #315240;
   padding-bottom: 4rem;
}

.description {
    background-color: #EEEAD4;
    color:#5C9C50;
    height:8rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-items:center;
    padding: 4rem; 
}

.dddb {
    background-color: #315240;
    padding: 4rem;
    display: flex;
    flex-direction: row; 
    
}

.dddb h2 {
    font-size: 3rem;
}

.dddb p {
    font-size: 1.3rem; 
}

.dddb>div {
    padding: 2rem;
    color: #EEEAD4;
}

.dddb h2 {
    padding-bottom: 4rem;
   
}

.skill {
    background-color: #EEEAD4;
    padding: 1rem 6rem 6rem 6rem;
    font-size: 2rem;
    text-align: start;
    line-height: 5rem;

}

.skill h2 {
    font-size: 4rem;
    font-weight:bold;
    text-align: center;
}

.progress {
    display: flex;
    height: 2.4rem;
    margin-bottom: 0.5rem;
  }
  
  .progress .label {
    flex: 0 0 8rem;
  
    height: 2.4rem;
  
    background-color: #444;
    color: #FFFFFF;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
  }
  
  .progress .bar {
    flex: 1;
  
    height: 2.4rem;
  
    background-color: #d6d6d6;
  
    line-height: 2.4rem;
  }
  
  .progress .knob {
    height: 2.4rem;
  
    background-color: #315240;
  }


.portfolios {
    background-color:#90A17C;
    padding: 4rem;
    display: grid;  
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33% ;
    line-height: 2rem;

     
}

.portfoliotitle h2 {
    font-size: 4rem;
    color: #EEEAD4;
    padding-top: 2rem;
}

.portfoliotitle {
    background-color:#90A17C;
  
}

.aboutme {
    display: flex;
    padding: 6rem;
    
    
}

.abouth2 {
    align-items: flex-start;
    justify-items: flex-start;
    width: 100%;
}

.abouth2 h2  {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.profileimg img {
 justify-items: flex-start;
 align-items: center;
 width: 50%;
 border-radius: 50%;
 padding: 5rem;    

}

.aboutdescription {
    justify-items: flex-end;
    align-items: center;
    width: 50%;
    font-size: 1.3rem;

}

.aboutdescription h4 {
    border: 1px solid #315240;
    border-radius: 2rem;
    background-color: #315240;
    color: #EEEAD4;
    background-size: contain;  
    padding: 1.5rem;  
     
}

.find_me_here {
    background-color: #315240;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #EEEAD4;  
    justify-items: space-between;  
    flex-wrap: wrap;
}

.findh2 h2  {
   color: #EEEAD4;
   font-size: 4rem; 

}

.findh2 {

    width: 100%;
}


.git, .linkedin, .instagram {
    width: 33%;  

}
 
.form {
    display: flex;
    flex-direction: column;
    background-color: #5C9C50;
    padding: 4rem;
    justify-content: center;
    align-content: space-around; 
      

}


.formttitle {
    width: 100%;
    align-self: flex-start; 

}

.bigdiv {
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    padding: 2rem 5rem;
}

.formtitle h2 {
    font-size: 4rem; 
    color: #EEEAD4; 

}

.firstname, .lastname, .email, .phone {
    width: 50%; 
    line-height: 6rem;
    opacity: 0.3;

}

::placeholder {
    color:#000000;
    font-size: 1.5rem;
    font-family: 'Comfortaa';
    border-radius: 1rem;
    line-height: 3rem;
    
    
}

input {
    background-color: #5C9C50;
    border: none;
    line-height: 2.5rem;
    color: #000000; 
}

textarea {
    padding: 2rem;
    line-height: 4rem;
    width: 80%;
    background-color: #EEEAD4;
    border: none;
    border-radius: 2rem;
    color: #315240;
}


.message, .button {
    width: 100%; 
    
}

button {
    width: 85%;
    color:#EEEAD4;
    background-color: #315240;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    margin-top: 2rem;
}


footer {
    padding: 4rem;
    background-color: #EEEAD4;
}

footer h2 {
    color: #315240; 
    font-size: 3rem;
    padding-bottom: 2rem;   
}

@media screen and (max-width: 1050px) {
        nav a {
            display: none;
        
        }

        nav .burger {
            display: block;
            justify-items: center;
            background: transparent;
        }

        nav:hover nav {
            display: block;
            background: transparent;
        }

      
        


    }  

    
   





   /* .logo {
       display: none;
   }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        
      
    } 
    
    nav a {
        font-size: 0.8rem;
        justify-items: center;  
        padding: 0.5rem;
    }

 
    header {
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0;
     
        

    }*/

   



   











