* {
    margin:0;
}

.container {
    text-align: center;
    font-family: 'Comfortaa';
}

nav {
    text-align: right;
    margin-bottom: 2rem;
    margin-top: 2rem;
   
    
  
    
}

a {  
    
display:inline;
margin-left: 1rem;
margin-right: 1rem;
font-size: 1.5rem;
color: #315240;
}

header {
    background-image: url(img/fog-3622519_1920.jpg);
    background-size: cover;     
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem; 
}

h1 { 
   font-size: 4rem;
   color: #315240;
   padding-bottom: 4rem;
}

.description {
    background-color: #EEEAD4;
    color:#5C9C50;
    height:8rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-items:center;
    padding: 4rem; 
}

.dddb {
    background-color: #315240;
    padding: 4rem;
    display: flex;
    flex-direction: row; 
    
}

.dddb h2 {
    font-size: 3rem;
}

.dddb p {
    font-size: 1.3rem; 
}

.dddb>div {
    padding: 2rem;
    color: #EEEAD4;
}

.dddb h2 {
    padding-bottom: 4rem;
   
}




